@import url(https://fonts.googleapis.com/css?family=M+PLUS+1p:400,500,700,800,900|Noto+Sans+JP:400,500,700,900&display=swap&subset=japanese);


/* 見出しカスタマイズ */

/* H1 */
h1 {
border-top:none;
border-bottom:none;
border-left:none;
border-right:none;
padding: 0;
}

h1:after {
border-top:none;
border-bottom:none;
border-left:none;
border-right:none;
padding: 0;
background: none;
border-bottom:none;
}
