@import url(https://fonts.googleapis.com/css?family=M+PLUS+1p:400,500,700,800,900|Noto+Sans+JP:400,500,700,900&display=swap&subset=japanese);


/* 見出しカスタマイズ */

/* H1 */
h1 {
border-top:none !important;
border-bottom:none !important;
border-left:none !important;
border-right:none !important;
padding: 0 !important;
font-size: 2em; margin: .67em 0 !important;
}

h1:after {
content: ""
position: absolute;
border-top:none !important;
border-bottom:none !important;
border-left:none !important;
border-right:none !important;
padding: 0 !important;
background: none !important;
background: none !important;
font-size: 2em; margin: .67em 0 !important;
}

.h1 {
border-top:none !important;
border-bottom:none !important;
border-left:none !important;
border-right:none !important;
padding: 0 !important;
font-size: 2em; margin: .67em 0 !important;
}

.h1:after {
content: ""
position: absolute;
border-top:none !important;
border-bottom:none !important;
border-left:none !important;
border-right:none !important;
padding: 0 !important;
background: none !important;
background: none !important;
font-size: 2em; margin: .67em 0 !important;
}